<template>
    <div>
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Contacts</h1>
                    </div>
                    <div class="col-sm-6">
                        <button style="float: right" class="btn btn-md btn-primary" data-toggle="modal" data-target="#contact" @click="addNewForm()" id="add_new_contact"> Add New Contact</button>

                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card card-solid" >
                <div class="card-body pb-0">
                    <div class="row d-flex align-items-stretch">
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch" v-for="contact in all_user_contacts">
                            <div class="card bg-light">
                                <div class="card-header text-muted border-bottom-0">
                                    Software Developer
                                </div>
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="lead"><b>{{contact.name}}</b></h2>
                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: + {{contact.number}}</li>
                                            </ul>
                                        </div>
                                        <div class="col-5 text-center">
                                            <img v-if="contact.contact_profile_picture != null" :src="'/storage/'+contact.contact_profile_picture" alt="" class="img-circle img-fluid">
                                            <img v-else :src="'/storage/default.png'" alt="" class="img-circle img-fluid">

                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="text-right">
                                        <a href="#" class="btn btn-sm bg-teal" @click="deleteContact(contact.id)">
                                            <i class="fas fa-trash" style="color:red" ></i> Delete Contact
                                        </a>
                                        <a href="#" class="btn btn-sm btn-primary"  data-toggle="modal" data-target="#contact" @click="openUpdateModal(contact.id)">
                                            <i class="fas fa-edit"></i> Edit Contact
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.card-body -->

                <!-- /.card-footer -->
                <!-- Modal -->
                <div class="modal fade "  id="contact" tabindex="-1" role="dialog" aria-labelledby="contact" aria-hidden="true" >
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    <span v-if="is_edit">Edit Contact</span>
                                    <span v-else-if=" add">New Contact</span>
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">


                                <div class=" form-group col-sm-10">
                                    <span>Full name</span><strong>*</strong><br>
                                    <input type="text" class="form-control rounded" v-model="name" >
                                   <small  class=" text-danger" v-if="(errors.name)">
                                        <strong >{{errors.name[0]}}</strong>
                                    </small>
                                </div>
                                <div class="form-group col-sm-10">
                                    <span>Contact number </span><strong>*</strong><br>
                                    <input type="text" class="form-control rounded" v-model="number">
                                    <small  class="text-danger" v-if="(errors.number)">
                                        <strong >{{errors.number[0]}}</strong>
                                    </small>
                                </div>

                                <div class="form-group col-sm-10">
                                    <span >Select File</span>
                                    <div class="custom-file">
                                        <input type="file" value="" ref="fileName" class="custom-file-input" id="fileName"
                                               name="fileName" v-on:change="uploadFile">
<!--                                        <input type="file"  v-on:change="uploadFile"  ref="fileInput" name="input-file-preview"/>-->
                                        <label class="custom-file-label" v-if="file_name">{{file_name}}</label>
                                        <label class="custom-file-label" v-else> Choose a file</label>
                                    </div>
                                    <small  class=" text-danger" v-if="(errors.file)">
                                        <strong >{{errors.file[0]}}</strong>
                                    </small>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" id="closeButton" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" @click="save()">Save changes</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- /Modal -->
            <!-- /.card -->

        </section>
        <!-- /.content -->
    </div>
</template>

<script>
    export default {
        name: "contacts",
        data(){
            return{
                is_edit: false,
                add: true,
                name: '',
                number: '',
                contact_profile_picture: '',
                all_user_contacts : [],
                errors:[],
                file_name: null,
                user_id : ''
            }
        },
        created() {
            this.getUserContacts()
        },
        methods:{
            getUserContacts(){
                axios.get('/get_contacts',
                ).then(resp => {
                    this.all_user_contacts = resp.data
                    console.log(resp)
                }).catch(err => {
                    console.log(err.response)
                })
            },
            uploadFile(e){
                this.contact_profile_picture = e.target.files[0]
                this.file_name  = this.contact_profile_picture.name
            },
            addNewForm()
            {
                this.add = true
                this.is_edit = false
                this.clearData()
            },
            save(){

                if (!this.is_edit)
                {
                    let formData = new FormData();
                    formData.append('file', this.contact_profile_picture);
                    formData.append('name', this.name);
                    formData.append('number', this.number);

                    axios.post('/contact_save',   formData,
                        {
                            headers: {
                                'Content-Type': 'multipart/form-data',
                            }
                        }
                    ).then(resp => {
                        if (resp.data === 'success'){
                            $("#closeButton").click()
                            this.getUserContacts()
                            this.$swal('Success', 'You have successfully saved your contacts!', 'success');
                            this.errors = []
                            this.clearData()
                        }
                        else{
                            $("#closeButton").click()
                            this.$swal('Error', 'An error occurred !', 'error');
                        }

                    }).catch(err => {
                        this.errors = err.response.data.errors
                        console.log(err.response)
                    })
                }
                else {
                    let formData = new FormData();
                    formData.append('file', this.contact_profile_picture);
                    formData.append('name', this.name);
                    formData.append('number', this.number);
                    formData.append('id', this.user_id);

                    axios.post('/contact_save',   formData,
                        {
                            headers: {
                                'Content-Type': 'multipart/form-data',
                            }
                        }
                    ).then(resp => {
                        this.is_edit= false
                        if (resp.data === 'success' || resp.data == true){
                            $("#closeButton").click()
                            this.getUserContacts()
                            this.$swal('Success', 'You have successfully saved your contacts!', 'success');
                            this.errors = []
                            this.clearData()
                        }
                        else{
                            $("#closeButton").click()
                            this.$swal('Error', 'An error occurred !', 'error');
                        }

                    }).catch(err => {
                        this.errors = err.response.data.errors
                        console.log(err.response)
                        this.is_edit= false
                    })
                }

            },
            deleteContact(id){
                this.$swal({
                    title: 'Delete Contact',
                    text: 'Are you sure you want to delete this Contact ?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No'
                }).then((willDelete) => {
                    axios.delete('/contact_delete/'+id)
                        .then(resp => {
                        if (resp.data === 'success'){
                            this.getUserContacts()
                            this.$swal('Success', 'You have successfully saved your contacts!', 'success');
                        }
                        else{
                            this.$swal('Error', 'An error occurred !', 'error');
                        }

                    }).catch(err => {
                        console.log(err.response)
                    })
                }).catch(dismiss => (dismiss !== 'cancel' ? undefined : this.$swal('Cancelled', 'Your transaction has been cancelled :)', 'error')))

            },

            openUpdateModal(id){
                this.getUserContacts()
                this.is_edit= true
                this.add= false
                for (let i = 0 ; i < this.all_user_contacts.length ; i++)
                {
                    if ( this.all_user_contacts[i].id == id){
                        this.name = this.all_user_contacts[i].name
                        this.number= this.all_user_contacts[i].number
                        this.file_name = this.all_user_contacts[i].contact_profile_picture
                        this.contact_profile_picture = this.all_user_contacts[i].contact_profile_picture
                        this.user_id = this.all_user_contacts[i].id
                    }
                }
                //open
            },
            clearData()
            {
                this.name = ''
                this.number= ''
                this.contact_profile_picture = ''
                this.file_name = ''
            },

        }
    }
</script>

<style scoped>
    .custom-file-uploader {
        position: relative;

    input[type='file'] {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 5;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: default;
    }
    }
</style>
