<template>
    <div>
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Manage Users</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card card-solid" >
                <div class="card-body pb-0">
                    <div class="row d-flex align-items-stretch">
                        <div class=" form-group col-sm-6">
                            <span>Full name</span><strong>*</strong><br>
                            <input type="text" class="form-control rounded" v-model="user_data.name" >
                            <small  class="text-danger" v-if="(errors.name)">
                                <strong >{{errors.name[0]}}</strong>
                            </small>
                        </div>
                        <div class=" form-group col-sm-6">
                            <span>Email</span><strong>*</strong><br>
                            <input type="text" class="form-control rounded" v-model="user_data.email" >
                            <small  class="text-danger" v-if="(errors.email)">
                                <strong >{{errors.email[0]}}</strong>
                            </small>
                        </div>
                        <div class="form-group col-sm-6">
                            <span >Select File</span>
                            <div class="custom-file">
                                <input type="file" value="" ref="fileName" class="custom-file-input " id="fileName"
                                       name="fileName" v-on:change="uploadFile">
                                <!--                                        <input type="file"  v-on:change="uploadFile"  ref="fileInput" name="input-file-preview"/>-->
                                <label class="custom-file-label" v-if="file_name">{{file_name}}</label>
                                <label class="custom-file-label" v-else> Choose a file</label>
                            </div>
                            <small  class="text-danger" v-if="(errors.file)">
                                <strong >{{errors.file[0]}}</strong>
                            </small>
                        </div>
                        <div class="form-group col-sm-6">
                        </div>
                        <div class="form-group col-sm-6">
                        </div>
                        <div class="form-group col-sm-6">
                        </div>
                        <div class="form-group col-sm-6">
                        </div>
                        <div class="form-group col-sm-6">
                            <button type="button" style="float:right" class="btn btn-primary " @click="save()"> <i class=" fa fa-save"></i> Save changes</button>
                        </div>

                    </div>
                    </div>
                </div>
                <!-- /.card-body -->
        </section>


    </div>

</template>

<script>
    export default {
        name: "user",
        props: ['user'],
        data(){
            return{
                user_data: this.user,
                file_name: null,
                errors: []
            }
        },
        created() {
            this.file_name = this.user_data.user_profile_picture
        },
        methods:{
            save(){
                let success = false
                let formData = new FormData();
                formData.append('file', this.user_data.user_profile_picture);
                formData.append('name', this.user_data.name);
                formData.append('email', this.user_data.email);
                formData.append('_method', 'put');

                axios.post('/update_user', formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data',
                        }
                    }
                ).then(resp => {
                    console.log(resp)
                    if (resp.data === 'success'){

                        this.$swal({
                            title: 'Success',
                            text: 'You have successfully updated',
                            type: 'success',
                            confirmButtonText: 'Ok'
                        }).then((willDelete) => {

                            location.reload()

                        })
                    }
                    else
                        this.$swal('Error', 'An Error ocured.', 'error')
                    this.errors = []
                }).catch(err => {
                    if (err.response)
                        this.errors =err.response.data.errors
                })
            },
            uploadFile(e){
                this.user_data.user_profile_picture = e.target.files[0]
                this.file_name  = this.user_data.user_profile_picture.name
            }
        }
    }
</script>

<style scoped>

</style>
